@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body{
    font-size: 20px;
    font-family: "Great Vibes";
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #eb2b2b;
    background-image: url('file56005.jpeg'); 
    background-size: cover; 
    background-repeat: repeat; 
    background-attachment: fixed; 
    background-position: center;
} 



.card{
    border-radius: 7px;
    background-color: rgba(255, 207, 214, 0.932);
    padding: 5px;
    
    padding: 7px 15px;
    
    max-width: 750px;
    margin: auto;
    margin-top: 10px;
}



.ei{
    background-color: rgba(255, 138, 138, 0.942);
    text-align: center;
    position: relative;
}

.button{
    position: absolute; 
    top: 29px; 
    left: 3px;
}

.foto{
    width: 5rem;
}

.card p{
    padding-left: 5%;
    padding-right: 5%;
}


.poem{
    font-family: "Great Vibes";
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: left;
}

#psss{
    text-align: right;
    padding-right: 5%;
    font-weight: 600;
    font-size: 23px;
}

.rt{
    font-family: "Great Vibes";
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}

.map{
    border-radius: 7px;
    overflow: hidden;
    border: 3px solid rgba(255, 138, 138, 0.942);;
    max-width: 750px;
    margin: auto;
    margin-top: 10px;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff7d7d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-top-right-radius: 7px;
}



.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffd3d3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 500px) {
    .card h1 {
        transform: translateX(10px); 
    }
    .button{
        position: absolute; 
        top: 35px; 
        left: 3px;
    }
    .foto{
        width: 4rem;
    }
}